<!DOCTYPE html>
<html lang="es">

  <head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>
<body>

  
    <img src="/images/camiseta-1662993522846" alt="" class="error">

    <footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

</footer>

</body>
</html>
