<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("./partials/head.ejs")  %>

</head>

<body>
    <header>

        <%- include ("./partials/header.ejs")  %>
        
    </header>
    
    <!-- <section class="nav-banner">
        <img id="banner-img" src="../images/travel-nomades-JO19K0HDDXI-unsplash.jpg" alt="Banner de Futbol">
    </section> -->
    <main>
        <!--Section Destacados--> 
        <h2>Destacados!</h2>
        <section class="seccion_main">
            <!--Section Item-->
            <div class="articulo">
                <img class="product-item_img" src="images/argentina2022.JPG" alt="Camiseta de Argentina">
                <div class="product-info">
                    <p class="info-price">$1.200</p>
                    <p class="info-discount">25% OFF</p>
                    <h3><b>Camiseta de Argentina</b></h3>
                </div>
            </div>
            <div class="articulo">
                <img class="product-item_img" src="images/arsenal21-22.jpg" alt="Camiseta del Arsenal de Inglaterra">
                <div class="product-info">
                    <p class="info-price">$1.200</p>
                    <p class="info-discount">25% OFF</p>
                    <h3><b>Camiseta del Arsenal de Inglaterra</b></h3>
                </div>
            </div>
            <div class="articulo">
                <img class="product-item_img" src="images/bayernMunchen.JPG" alt="Camiseta del Bayern Munich">
                <div class="product-info">
                    <p class="info-price">$1.200</p>
                    <p class="info-discount">25% OFF</p>
                    <h3><b>Camiseta del Bayern Munich</b></h3>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">

        <%- include ("./partials/footer.ejs")  %>

    </footer>
    
</body>
</html>